* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.none {
  display: none;
}

.transform0 {
  transform: translate(-50%, -300px) !important;
  transition: all 0.5s;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.427);
  z-index: 1;
}

.text {
  text-transform: capitalize;
}

.code {
  text-transform: uppercase;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header .headerContent {
  /* display: flex;
    justify-content: space-between;
    align-items: center; */
  /* padding: 30px; */
  padding-top: 50px;
}
header .headerContent .headerLogo {
  transition: all 0.7s;
  text-align: center;
  padding-bottom: 20px;
}
header .headerContent .headerLogo a {
  text-decoration: none;
  color: blue;
  font-size: 40px;
  font-weight: bold;
}
/* header .headerContent .headerLogo:hover {
    transform: scale(1.5);
  } */
header .headerContent .search {
  padding-bottom: 5px;
}
header .headerContent .search input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  border-radius: 8px;
}
header .headerContent .search i {
  color: orangered;
  cursor: pointer;
}
header .headerContent .sort select {
  height: 30px;
  width: 150px;
}
header .headerContent .headerBtn button {
  width: 120px;
  height: 30px;
  background-color: #0d3ee7;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s;
}
header .headerContent .headerBtn button:hover {
  background-color: crimson;
}

main .formContent {
  width: 500px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  z-index: 2;
  background-color: white;
}
main .formContent #closer {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #eb1919;
  cursor: pointer;
}
main .formContent #myForm {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
}
main .formContent #myForm .formItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
  margin-top: 10px;
}
main .formContent #myForm .formItem input {
  margin-left: 5px;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 5px;
  border-left: 2px solid transparent;
}
main .formContent #myForm .formItem input:focus {
  border-left: 2px solid orangered;
}
main .formContent #myForm .formItem select {
  width: 100%;
  height: 25px;
  border: none;
  outline: none;
}
main .formContent #myForm span {
  display: block;
  color: red;
}
main .formContent #myForm .formBtn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .formContent #myForm .formBtn button {
  padding: 7px 20px;
  font-size: 16px;
  background-color: #0d3ee7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
main .formContent #myForm .formBtn button:hover {
  background-color: crimson;
}
main .formContent #myForm .formBtn #ketQua {
  color: orangered;
  display: block;
  text-align: center;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
}
main .tableContent table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}
main .tableContent table tr:nth-child(even) {
  background-color: rgba(255, 68, 0, 0.158);
}
main .tableContent table tr th {
  padding: 5px 10px;
  background-color: orangered;
  color: white;
}
main .tableContent table tr td {
  padding: 5px 10px;
}
main .tableContent table tr td:last-child {
  text-align: center;
}
main .tableContent table tr td:last-child button {
  background-color: transparent;
  border: none;
  color: #262231;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}
